<div class="flex-center position-ref full-height">
    <div class="Index">
        <div class="registro" style="background-color: crimson; ">REGISTRADO!</div>
        <div class="spinner-border" style="margin-bottom: 30px;"></div>
        <div class="alert alert-success" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            Sus datos han sido guardados satisfactoriamente y en breve le enviaremos un correo para establecer una nueva contraseña.
            </div>
    </div>
</div>
