@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="D:\logs\m1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="D:\logs\m2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="D:\logs\m3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
   <form name="update" action="" method="post">
    Index
    <input name="txtbus" type="text">
    <input name="btn1" value="Buscar" type="submit">
</form>
 <form name="update" action="" method="post">
    Nombre de Usuario
    <input name="Index" type="text">
    <input name="btn1" value="Registrar" type="submit">
</form>
</div>